<div class="container">
    <header class="header">
        <img class="header__logo" src="../../../assets/images/logo.png" />
    </header>
    <div class="categories-banner">
    </div>
    <div class="content">
        <p class="content__title">CUCURUCHOS</p>
        <div class="gallery">
            <app-button-image (clickEvent)="selectProduct(product)" *ngFor="let product of products" [image]="product.image" [name]="product.name" ></app-button-image>
        </div>
    </div>
    <div class="button-container" *ngIf="!isLoading">
        <app-button text="Pagar" color="green" [disabled]="!selectedProduct" (clickEvent)="pay()"></app-button>
        <app-button text="Cancelar Orden" color="red" (clickEvent)="cancel()"></app-button>
    </div>
    <app-loading class="loading" *ngIf="isLoading"></app-loading>
</div>