.header {
    background: url('../../../assets/images/banner2.png');
    height: 130px;
    width: 100%;
    background-repeat: round;
    background-size: cover;
}

.header__logo {
    height: 72%;
    position: relative;
    left: 4%;
    top: 12%;
}

.container {
    height: auto;
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}
 
.content {
    width: 87%;
    display: block;
    height: 83%;
    margin-left: 8%;
}

.content__title {
    font-size: 25px;
    margin-top: 3%;
    margin-bottom: 1%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 1%;
    z-index: 2;
}

.categories-banner {
    width: 100%;
    margin-top: 2%;
    height: 117px;
    background: url('../../../assets/images/barra.png');
    background-size: cover;
    background-repeat: round;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {

    .content__title {
        font-size: 14px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .header {
        background: url('../../../assets/images/baner-mobile2.png');
        background-repeat: round;
        background-size: cover;
        height: 80px;
    }
    
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    .button-container {
        margin-top: 25px;
        margin-bottom: 5%;
    }

    .categories-banner {
        height: 55px;
        background: url('../../../assets/images/barra-mobile.png');
        background-size: cover;
        background-repeat: round;
    }
}