:host {
    --green: #0b6214;
    --red: #c90101;
    --font-color: #616161
}

.button {
    width: 170px;
    color: white;
    border: 0;
    height: 30px;
    border-radius: 7px;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
    font-size: 17px;
    box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    z-index: 3;
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

.disabled {
    background-color: lightgray;
    cursor: default;
}

@media screen and (max-width: 700px) {
    .button {
        width: 90px;
        font-size: 8px;
        height: 20px;
        border-radius: 5px;
    }
}