<div class="container">
    <header class="header">
        <img class="header__logo" src="../../../assets/images/logo.png" />
    </header>
    <div class="categories-banner">
    </div>
    <div class="content">
        <div class="main-image">
            <img [src]="product!.image"/>
        </div>
        <div class="detail">
            <p class="content__title">{{product!.name | uppercase }}</p>
            <span>{{product!.description}}</span>
            <!--<p>
                <a class="btn-pedir-producto">¡Pedilo ya!</a>
            </p>-->
        </div>
        <div class="aditional">
            <img src="../../../assets/images/aditional.png" />
        </div>
    </div>
</div>