.header {
    background: url('../../../assets/images/banner2.png');
    height: 130px;
    width: 100%;
    background-repeat: round;
    background-size: cover;
}

.header__logo {
    height: 72%;
    position: relative;
    left: 4%;
    top: 12%;
}

.container {
    height: auto;
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}
 
.content {
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-top: 4%
}

.content__title {
    font-size: 25px;
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.categories-banner {
    width: 100%;
    margin-top: 2%;
    height: 117px;
    background: url('../../../assets/images/barra.png');
    background-size: cover;
    background-repeat: round;
}

.main-image {
    width: 30%;
}

.main-image img {
    height: auto;
    width: 100%;
}

.detail {
    text-align: left;
    width: 40%;
}

.detail span {
    font-size: 20px;
}

.btn-pedir-producto {
    background: #e1eaef;
    font-size: 18px;
    width: 80%;
    text-align: center;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    color: #154287;
}

.aditional {
    width: 30%;
    text-align: center;
}

.aditional img {
    height: 100%;
    width: 85%;
}

@media screen and (max-width: 700px) {

    .content {
        width: 90%;
        margin-left: 5%;
        height: auto;
        flex-direction: column
    }

    .main-image {
        width: 100%;
        text-align: center;
    }

    .main-image img {
        width: 70%;
    }

    .content__title {
        font-size: 14px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .header {
        background: url('../../../assets/images/baner-mobile2.png');
        background-repeat: round;
        background-size: cover;
        height: 80px;
    }

    .button-container {
        margin-top: 25px;
        margin-bottom: 5%;
    }

    .categories-banner {
        height: 55px;
        background: url('../../../assets/images/barra-mobile.png');
        background-size: cover;
        background-repeat: round;
    }

    .detail {
        width: 100%;
    }

    .detail span {
        font-size: 12px;
    }

    .aditional {
        display: none;
    }
}