.background {
    background: linear-gradient(to right, #006fc8, #1296d4);
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

.logo-container {
    position: absolute;
    left: 3%;
    top: 6%;
}

.logo-container img {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    padding-top: 3%;
}

.content-header {
    width: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 2% 8% 2% 8%;
    box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
}

.header-price {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.header-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-price span {
    width: 100%;
    margin: 7px;
}

.header-price__text {
    font-size: 30px;
}

.header-price__price {
    font-size: xx-large;
    font-weight: bold;
}

.button {
    margin-bottom: 3%;
}

.content-form {
    margin-top: 3%;
    width: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 2% 11% 2% 7%;
    box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
}

.content-form__title {
    font-size: 30px;
    margin: 10px;
}

.content-images {
    width: 100%;
    margin-top: 3%;
}

.content-images__cards1 {
    width: 30%;
    float: left;
    text-align: center;
}

.content-images__cards1 img {
    width: 80%;
}

.content-images__cards2 {
    width: 70%;
    float: right;
}

.content-images__cards2 img {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

.input-container__label {
    font-size: 18px;
}

.input-container__label::after {
    content: '*';
    color: red;
}

.input-container__input {
    height: 35px;
    background-color: #f8f8f8;
    border: 1px solid #8f8f8f;
}

.input-expiration-date {
    display: flex;
}

.input-expiration-date input {
    margin-right: 2%;
}

.input-container__input--cvc {
    width: 10%;
}

.submit-button {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.expiration {
    margin-bottom: 1%;
}

.error {
    border-color: red;
}

@media screen and (max-width: 700px) {

    .background {
        padding-bottom: 10%;
    }
     
    .logo-container {
        left: 4%;
        top: 3%;
    }

    .logo-container img {
        width: 50%;
    }

    .content {
        width: 80%;
        padding-top: 30%;
    }

    .content-header {
        flex-direction: column;
        border-radius: 5px;
        padding: 2% 0 2% 0;
    }

    .header-price {
        text-align: center;
        width: 100%;
        display: block;
    }

    .header-price__text {
        font-size: 12px;
    }

    .header-price__price {
        font-size: 12px;
    }

    .header-buttons {
        width: 100%;
        display: block;
        margin-top: 3%;
    }

    .button-detail {
        width: 50%;
        float: right;
        text-align: center;
    }

    .button-cancel {
        width: 50%;
        float: left;
        text-align: center;
    }

    .content-form {
        border-radius: 5px;
        padding: 5% 7% 8% 7%;
    }

    .content-form__title {
        font-size: 20px;
        text-align: center;
    }

    .content-images {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .content-images__cards1 {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }

    .content-images__cards1 img {
        width: 30%;
    }

    .content-images__cards2 {
        width: 100%;
        text-align: center;
    }

    .input-container__label {
        font-size: 10px;
    }

    .input-container__input {
        height: 20px;
    }

    .input-expiration-date input:first-child {
        margin-right: 3%;
    }

    .input-expiration-date input:last-child {
        margin-left: 3%;
        margin-right: 0px;
    }

    .input-expiration-date input {
       width: 44%;
    }

    .input-container__input--cvc {
        width: 20%;
    }

    .submit-button {
        margin-top: 10%;
    }
    
}