<div class="background">
    <div class="logo-container">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="content">
        <div class="content-header">
            <div class="header-price">
                <span class="header-price__text">Total a pagar</span>
                <span *ngIf="product" class="header-price__price">{{price | currency }}</span>
            </div>
            <div class="header-buttons">
                <div class="button button-detail">
                    <app-button text="Ver detalle" color="green" (clickEvent)="detail()"></app-button>
                </div>
                <div class="button button-cancel">
                    <app-button text="Cancelar Orden" color="red" (clickEvent)="back()"></app-button>
                </div>
            </div>
        </div>
        <div class="content-form">
            <p class="content-form__title">Formas de Pago</p>
            <div class="content-images">
                <div class="content-images__cards1">
                    <img src="../../../assets/images/tarjetas.png" />
                </div>
                <div class="content-images__cards2">
                    <img src="../../../assets/images/tarjetas2.png" />
                </div>
            </div>
            <form [formGroup]="saleForm" (ngSubmit)="completeSale()" class="form">
                <div class="input-container">
                    <label class="input-container__label">Nombre del titular</label>
                    <input class="input-container__input" [ngClass]="{'error': fm.firstName.errors && submitted }" 
                        type="text" formControlName="firstName" />
                </div>
                <div class="input-container">
                    <label class="input-container__label">Número de tarjeta</label>
                    <input class="input-container__input" pattern="\d*" maxlength="16" [ngClass]="{'error': fm.cardNumber.errors && submitted }" 
                        type="text" formControlName="cardNumber" />
                </div>
                <div class="input-container">
                    <label class="input-container__label">Fecha de expiración</label>
                    <div class="input-expiration-date">
                        <input placeholder="MM" class="input-container__input" pattern="\d*" maxlength="2" [ngClass]="{'error': fm.expirationMonth.errors && submitted }" 
                            type="text" formControlName="expirationMonth" />
                        <input placeholder="AAAA" class="input-container__input" pattern="\d*" maxlength="4" [ngClass]="{'error': fm.expirationYear.errors && submitted }" 
                            type="text" formControlName="expirationYear" />
                    </div>
                </div>
                <div class="input-container">
                    <label class="input-container__label">Código de seguridad</label>
                    <input class="input-container__input input-container__input--cvc" pattern="\d*" maxlength="3" [ngClass]="{'error': fm.cvc.errors && submitted }" 
                        type="text" formControlName="cvc" />
                </div>
                <div class="submit-button">
                    <app-button type="submit" text="Pagar" color="green"></app-button>
                </div>
            </form >
        </div>
    </div>
</div>