<div class="background">
    <div class="logo-container">
        <img src="../../../assets/images/logo.png" />
    </div>
    <div class="button-container">
        <button (click)="shop();">SHOP NOW</button>
    </div>
</div>