body, html {
    height: 100vh;
    margin: 0;
}

p, span, label, button {
    font-family: Montserrat;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}